body {
    text-rendering: auto;
}
@media screen and (max-device-width: 400px) {
    .aplayer {
        width: 100%;
    }
}
.aplayer-wrap {
    max-width: 700px;
    margin: 20px 0;
}

.sidebar-toggle {
    z-index: 90;
}

#app, .page, body, html {
    height: 100%;
}
h1 {
    margin: 0;
    margin-top: -50px;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
}

h3 {
    margin-top: 20px;
    color: #999;
    font-weight: normal;
    letter-spacing: 1px;
}

.landing {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.features {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.7;
}

.landing-button {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px 30px;
    background-color: white;
    display: inline-block;
    margin-right: 20px;
    color: #333;
}

.landing-button:hover {
    border-color: #42b983;
    color: #42b983;
    text-decoration: none;
}

.aplayer-wrap {
    width: 600px;
    max-width: 100%;
    margin: 20px 0 40px;
}